@import '_zindexes.scss';

$navWidth: 500px;
$nav-header-height: 100px;
$navDots_width: 40px;
$legend-padding: 15px;

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mob-nav {
  display: none
}

.nav-container {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: $navWidth;
  color: $text_color;
  list-style: none;
  overflow: hidden;
  border-right: 1px solid white;
}

.navPanel {
  position: relative;
  top: 0px;
  right: -17px; // part of what is hiding the scroll bar
  left: $navDots_width;
  padding: 25px;
  padding-bottom: 300px;
  bottom: 0px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $nav_background_rgb;

  .mySlide {
    opacity: 0.5;
  }
  
  .my-slide-list {
    padding-right: 17px; // part of what is hiding the scroll bar
  }

  .activeSlide {
    opacity: 1;
  }

  p {
    display: block;
    padding-left: 15px;
    margin-bottom: 0.5em;
  }
  ul {
    list-style: square;
    padding-left: 30px;
    li {
      padding-bottom: 5px;
    }
  }
}

.navPanelHeader {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  --leftMargin: calc(#{$navWidth} - #{$navDots_width});
  width: var(--leftMargin);
  height: $nav-header-height;
  border-right: 1px solid white;
  background-color: $nav_background_rgb;
  margin-left: $navDots_width;
  z-index: z("desk_navHead");
  padding: 10px 25px;
  border-bottom: 1px solid $text-color;

  img {
    float: left;
  }
  .navPanelTitles {
    padding-left: 10px;
    float: left;
    height: calc($nav-header-height-20px);
    margin: 0px 0px;
  }

  span.title {
    font-family: 'Playfair Display', serif;
    // font-weight: normal;
    // font-weight: 100;
    //  font-weight: 900;
     font-weight: bold;

    font-size: 1.9em;
    color: $header_title;
  }

  span.subtitle {
    font-size: 1.4em;
  }
}

.watermark {
  background-color: rgba(0,0,0,0.8);
  border-top-left-radius: 5px;
  padding: 8px;
  text-align: center;
  color: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 0px;
  right:0px;
  font-size: 0.9em;
}

.navTitle {
  font-weight: bold;
  font-size: 1.6em;
  text-align: left;
  //border-bottom: 3px solid $text_color;
  padding-top: 100px;//changed from 130 to 100
  height: fit-content;
  color: $panel_title;
  text-align: center;
  margin-bottom: -20px;
}

.navTitleBubble {
  width: 100%;
  border-radius: 5px;
  padding: 12px 0px;
  background-color: $nav_bubble_background;
}

.pTitle {
  padding-top: 80px; //120px;
  margin-top: -60px;
  font-size: 1.2em;
  font-weight: bold;
}

.mySlide {
  h4 {
    color: $text_color;
    margin-bottom: 0.25em;
    margin-top: 1.5em;
  }
}

.navParagraph {
  font-size: 1em;
  padding-top: 10px;
}

// some weird random paragraph slide stuff
.quote {
  font-style: italic;
  font-size: 0.9em;
  border-radius: 10%;
  margin: 10px 0px;
  background-color: rgba(0,0,0,0.25);
  padding: 25px;
}

.lowlight {
  font-style: italic;
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 5px;
}

.bulletpoint {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: -15px;
}

.navDots {
  display: block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 5px;
  margin: auto;
  width: $navDots_width;
  background-color: $nav_button_rgb;

  .navDots-contain {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

  }

  .list-group-item {
    border: none;
    background-color: transparent;
    padding: 5px;
  }
}

.list-group-item.active {
  color: $nav_dot_highlight;
}
.list-group-item-action{
  color: $nav_dot_lowlight;
}

.new-wave-legend {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: z("desk_legend");
  background-color: $nav_background_rgb;
  //border: 1px solid black;
  //padding-top: $legend-padding;
  color: $text-color;
  border-radius: 3px;
  min-width: 200px;
  font-size: 0.8em;

  .legend-item-contain {
    padding: 0px $legend-padding;
    padding-top: $legend-padding;
    display: none;
  }

  // legend item label container
  span{
    padding-left: 5px;
    
  }

  .legend_head {
    font-size: 1.2em;
    font-weight: bold;
  }

  .legendBttn {
    background-color: $nav_button_rgb;
    color: $nav_dot_lowlight;
  }

}

#mapDiv, #detailDiv {
  position: absolute;
  left: $navWidth;
  top: 0px;
  width: calc(100% - #{$navWidth});
  height: 100%;
}

#detailDiv {
  background-color: rgb(91, 113, 122);
  
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.img-main {
  object-fit: fill;
}






// ESRI OVERIDE
.esri-layer-list {
  display: block;
}

.esri-legend {
  position: absolute;
  top: 0px;
  right: 0px;
  
}
span.esri-popup__action-text{
  overflow: visible;
}