

$header_title: rgb(182,120,68);

$panel_title: rgb(53,96,45);

$panel_title_highlight: rgb(127,62,198);

// text area background
$nav_background_rgb:  rgb(255,255,255);

// Text area background but with tranparency?
$nav_background_rgba: rgba(255,255,255, 0.8);  

// Header\Section Title background
$nav_bubble_background: rgba(223,193,169, 0.75); 


// All text that isnt a title
$text_color: rgb(53,96,45); 

// background of the nav dots \ sidebar
$nav_button_rgb: rgb(182,120,68); 

// .list-group-item.active
// selected sidebar buttons
$nav_dot_highlight: rgb(228,218,82);

// .list-group-item-action
// side bar boxes
$nav_dot_lowlight: rgb(223,193,169);
