@import '_theme.scss';

*{ box-sizing: border-box; }

html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul, ol {
    list-style: none;
    padding-left: 0px;
}

.main-container {
    height: 100%;
    width: 100%;
}

#mapDiv {
    background-color: rgb(133, 169, 172);
}


// ESRI Overrides
.esri-legend__layer-caption {
    display: none !important;
}

@import '_mobile.scss';

// @media only screen and (min-width:768px) {
//     @import '_tablet.scss';
// }

@media only screen and (min-width:1200px) {
    @import '_desktop.scss';
}